.searchContainer {
    padding: 1rem 0rem;
    border: 1px solid rgb(220, 220, 220);
    box-shadow: 0 1px 2px rgb( 2, 2, 3);
    width: 300px;
    height: 100vh;
    z-index: 10;
}

.searchInput {
    border: none;
    border-radius: 4px;
    background-color: rgb(242, 242, 242);
    padding: 5px 10px;
    font-size: 13px;
    width: 90%;
    outline: none;
    margin-left: 10px;
}