.comments{
    /* overflow-y-scroll max-h-[50vh] */

    overflow-y: scroll;
    max-height: 40vh;

}

.comments::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }

  .commentInput{
   
    border: none;
    outline: none;
    padding: 5px;
  }